<div class="container mt-4">
  <div class="card shadow-lg p-4">
    <h2 class="text-center">Add New Voiture</h2>

    <form [formGroup]="voitureForm" (ngSubmit)="addVoiture()">
      <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <input
          type="text"
          id="model"
          class="form-control"
          formControlName="model"
          [ngClass]="{
            'is-invalid':
              voitureForm.get('model')?.invalid &&
              voitureForm.get('model')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            voitureForm.get('model')?.invalid &&
            voitureForm.get('model')?.touched
          "
        >
          Model is required
        </div>
      </div>

      <div class="mb-3">
        <label for="kmH" class="form-label">KmH</label>
        <input
          type="number"
          id="kmH"
          class="form-control"
          formControlName="kmH"
          [ngClass]="{
            'is-invalid':
              voitureForm.get('kmH')?.invalid && voitureForm.get('kmH')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            voitureForm.get('kmH')?.invalid && voitureForm.get('kmH')?.touched
          "
        >
          Speed is required
        </div>
      </div>

      <div class="mb-3">
        <div class="my-2">
          <label class="form-label">Caracteristiques</label>
        </div>

        <ng-container formArrayName="caracteristiques">
          <div
            *ngFor="let item of caracteristiques.controls; let i = index"
            [formGroupName]="i"
            class="input-group mb-2 row align-items-center"
          >
            <div class="col-12 col-md-5 mb-3">
              <label for="nom" class="form-label">Nom</label>

              <input
                type="text"
                id="nom"
                class="form-control"
                formControlName="nom"
                [ngClass]="
                  item.get('nom')?.invalid &&
                  (item.get('nom')?.touched || item.get('nom')?.dirty)
                    ? 'ng-invalid ng-dirty'
                    : ''
                "
              />
              <div
                class="invalid-feedback"
                *ngIf="item.get('nom')?.invalid && item.get('nom')?.touched"
              >
                nom is required
              </div>
            </div>

            <div class="col-12 col-md-5 mb-3">
              <label for="valeur" class="form-label">Valeur</label>

              <input
                type="text"
                id="valeur"
                class="form-control"
                formControlName="valeur"
                [ngClass]="
                  item.get('valeur')?.invalid &&
                  (item.get('valeur')?.touched || item.get('valeur')?.dirty)
                    ? 'ng-invalid ng-dirty'
                    : ''
                "
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  item.get('valeur')?.invalid && item.get('valeur')?.touched
                "
              >
                valeur is required
              </div>
            </div>

            <div class="col-12 col-md-2 d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-danger mb-0"
                (click)="deleteCaracteristique(i)"
              >
                Supprimer
              </button>
            </div>
          </div>
        </ng-container>

        <button
          type="button"
          class="btn btn-secondary"
          (click)="addCaracteristique()"
        >
          Add caracteristique
        </button>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="voitureForm.invalid || isSubmitting"
      >
        <span
          *ngIf="isSubmitting"
          class="spinner-border spinner-border-sm"
        ></span>
        Add Voiture
      </button>
    </form>
  </div>
</div>
